<?xml version='1.0' encoding='utf-8'?>
<widget id="cat.contesencatala" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Contes En Catala</name>
    <description>
        Breu recull de contes en català.
    </description>
    <author email="rsallar@gmail.com" href="http://cordova.io">
        Ramon Salla
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-admobpro" spec="2.19.1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
		<preference name="android-minSdkVersion" value="20" />
		<preference name="android-targetSdkVersion" value="23" />
    </platform>
    <!-- <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>-->
    <engine name="android" spec="~5.1.1" />
	<icon src="res/icon.png" />
</widget>
